<div class="header">
  <div class="header-logo">SLACA 2019</div>

  <div class="header-title">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>

    <h1>Anais do 13° Simpósio Latino Americano de Ciências de Alimentos</h1>

    <p>ISSN: 1234-5678</p>
  </div>

  <select>
    <option>🌐 PT, BR</option>
  </select>

  <div class="header-user">
    <div class="header-user-info">
      <p>Bem vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>
    <div class="header-image-container">
      <div class="header-counter">2</div>

      <img src="../assets/pessoa-que-nao-existe.png" alt="foto" />
    </div>
  </div>
</div>
