<div class="right">
  <div class="right-buttons">
    <a href="/"><mat-icon aria-hidden="false">download</mat-icon>Download</a>
    <a href="/"><mat-icon aria-hidden="false">star</mat-icon></a>
    <a href="/"><img src="../assets/doi.png" alt="" /></a>
  </div>
  <span>COMO CITAR ESSE TRABALHO?</span>
  <div class="right-card">
    <h1>Detalhes</h1>
    <div class="card">
      Tipo de Apresentação: <b>Pôster</b><br />
      Eixo temático: <b>Alimentação e saúde (AS) </b><br />
      Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b
      ><br /><br />

      <div style="font-size: 16px">
        <b>Autores:</b><br />
        Galileo Galilei¹<br />
        Berta Lange de Morretes²<br />
        Isaac Newton³<br />
        Cesar Lattes¹<br />
        Stephen Hawking⁴
      </div>
      <br />
      <div style="font-weight: 300">
        ¹Universidade Estadual de Campinas<br />
        ²Universidade de São Paulo<br />
        ³Instituto Nacional de Pesquisas Espaciais<br />
        ⁴Universidade Federal do Rio de Janeiro<br />
      </div>
    </div>
  </div>
</div>
