.menu {
  margin: 0;
  padding: 0;
  max-width: 13.75rem;
  height: 93vh;
  -webkit-box-shadow: 2px 0px 5px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 2px 0px 5px rgba(50, 50, 50, 0.25);
  box-shadow: 2px 0px 5px rgba(50, 50, 50, 0.25);
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
}

.menu-buttons a {
  border-bottom: 0.06rem solid rgb(158, 158, 158);
  padding: 0.31rem 1.25rem;
  width: 100%;
  text-decoration: none;
  text-align: start;
  color: #725c5c;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Quicksand';
}

.menu-buttons a:hover {
  background: #fdf1eb;
  transition: all ease 0.2s;
  border-right: 3px linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}
