<!DOCTYPE html>

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="grid-container">
      <div class="header"><app-header></app-header></div>
      <div class="menu"><app-menu></app-menu></div>
      <div class="main"><app-main></app-main></div>
      <div class="right"><app-right></app-right></div>
      <div class="interaction"><app-interaction></app-interaction></div>
      <div class="footer" style="display: flex; margin-top: 40px;"><img src="../assets/imagem - footer.png" alt=""></div>
    </div>
  </body>
</html>
